@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500&family=Playfair+Display:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    color:#2e2e2e
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #faf8f6;
    color: #3a3a3a;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: #fdfdfc;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 10px rgba(0,0,0,0.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-family: 'Playfair Display', serif;
    font-size: 3.2rem;
    color: #776d5a;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: #776d5a;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 2px solid transparent;
}


nav a:hover,
nav a.active{
    color: #b8876f;
    border-bottom: 2px solid #b8876f;
}

@media(max-width:995px){
    nav{
       position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 2px solid #b8876f;
        border-bottom: 2px solid #b8876f;
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: #fff9f4;
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b8876f;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background-color: #faf8f6;
}

.home .home-content h1{
     font-family: 'Playfair Display', serif;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.3;
    color: #4a403a;
}

span{
    color: #b8876f;
}

.home-content h3{
     font-size: 3.2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #7a6e63;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
   position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #d3c3b9;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #776d5a;
}

.social-icons a:hover{
   color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: #d3c3b9;
    box-shadow: 0 0 25px #d3c3b9;
}

.btn{
display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #e8dcd0;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #4a403a;
    letter-spacing: 0.3rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;

}

.btn:hover{
   transform: scale3d(1.03);
    background-color: #d3c3b9;
    color: #2e2e2e;
    box-shadow: 0 0 25px #d3c3b9;
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
